<h1 align='center'>Battle!</h1>

<h2 align='left'><%= @player_1_name %></h2>
<h2 align='center'> vs. </h2>
<h2 align='right'><%= @player_2_name %></h2>
<h2 align='right'> <%= @player_2_name %> HP: 100/100 </h2>
